@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@font-face {
	font-family: 'Chirp';
	font-style: medium;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/chirp-2/ChirpRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'Chirp';
	font-style: regular;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/chirp-2/ChirpMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Chirp';
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/chirp-2/ChirpBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Chirp';
	font-style: heavy;
	font-weight: 900;
	font-display: swap;
	src: url('../fonts/chirp-2/ChirpHeavy.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply box-border list-none p-0 m-0 scroll-smooth;
	}

	body {
		background: var(--color-dark-1);
		color: var(--color-light-1);
		@apply min-h-screen font-chirp;
	}
}

@layer utilities {
	/* TYPOGRAPHY */
	.h1-bold {
		@apply text-[36px] font-bold leading-[140%] tracking-tighter;
	}

	.h1-semibold {
		@apply text-[36px] font-bold leading-[140%] tracking-tighter;
	}

	.h2-bold {
		@apply text-[30px] font-bold leading-[140%] tracking-tighter;
	}

	.h3-bold {
		@apply text-[24px] font-bold leading-[140%] tracking-tighter;
	}

	.h4-bold {
		@apply text-[22px] font-medium leading-[140%] tracking-tighter;
	}

	.h5-bold {
		@apply text-[20px] font-black leading-[140%] tracking-tighter;
	}

	.base-bold {
		@apply text-[15px] font-bold leading-[140%] tracking-tighter;
	}

	.base-semibold {
		@apply text-[16px] font-bold leading-[140%] tracking-tighter;
	}

	.base-medium {
		@apply text-[16px] font-medium leading-[140%];
	}

	.base-regular {
		@apply text-[16px] font-normal leading-[140%];
	}

	.body-regular {
		@apply text-[15px] font-normal leading-[140%];
	}

	.body-medium {
		@apply text-[20px] font-medium leading-[140%];
	}

	.body-bold {
		@apply text-[20px] font-bold leading-[140%];
	}

	.small{
		@apply text-[12px] font-medium leading-[140%];
	}

	.small-normal {
		@apply text-[13px] font-normal leading-[140%];
	}

	.small-semibold {
		@apply text-[14px] font-bold leading-[140%] tracking-tighter;
	}

	.small-medium {
		@apply text-[14px] font-medium leading-[140%];
	}

	.small-regular {
		@apply text-[14px] font-normal leading-[140%];
	}

	.subtle-semibold {
		@apply text-[12px] font-bold leading-[140%];
	}

	.subtle-regular {
		@apply text-[12px] font-normal leading-[140%];
	}

	.tiny-medium {
		@apply text-[10px] font-medium leading-[140%];
	}

	/* UTILITIES */
	.invert-white {
		@apply invert brightness-0 transition;
	}

	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}

	.flex-start {
		@apply flex justify-start items-center;
	}

	.gradient-bg {
		/* @apply bg-gradient-to-r from-primary-500 via-[#5f2cab] to-[#2f8cd8]; */
		background-color: #FF3CAC;
		background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 3px;
		height: 10px;
		border-radius: 2px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: #f089cb;
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #ffffff;
	}

	.common-container {
		@apply flex flex-col flex-1 items-center gap-10 overflow-scroll p-6 custom-scrollbar;
	}

	/* All Users */
	.user-container {
		@apply max-w-5xl flex flex-col items-start w-full gap-6 md:gap-9;
	}

	.user-grid {
		@apply w-full grid grid-cols-1 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-12 max-w-5xl;
	}

	/* Explore */
	.explore-container {
		@apply flex flex-col flex-1 items-center md:overflow-scroll custom-scrollbar;
	}

	.explore-inner_container {
		@apply max-w-5xl flex flex-col items-center p-6 w-full gap-6 md:gap-9;
	}

	.explore-search {
		@apply h-12 bg-dark-3 border-none placeholder:text-light-4 focus-visible:ring-0 focus-visible:ring-offset-0 ring-offset-0 !important;
	}

	.root-wrapper{
		@apply w-full md:flex min-h-screen;
  	min-height: calc(100vh - 7rem);
	}

	/* Home */
	.home{
		@apply flex flex-1 justify-center overflow-scroll md:custom-scrollbar;
	}

	/* .home-container {
		@apply flex flex-col flex-1 items-center gap-10 pb-10 pt-8 px-6 md:px-8 lg:p-10 custom-scrollbar;
	} */

	.home-container {
		@apply lg:min-w-[600px] md:min-w-[400px] flex flex-col custom-scrollbar;
	}

	.home-posts {
		@apply max-w-screen-sm flex flex-col items-center w-full;
	}

	.rightsidebar {
		@apply hidden xl:flex flex-col w-96 px-6 pb-10 pt-8 gap-8 -mr-[30px];
	}

	.rightsidebar h3{
		@apply border-b border-dark-5;
	}

	.home-creators{
		@apply bg-dark-4 rounded-xl;
	}

	.home-creators li:last-of-type .for-you-user-card {
		@apply rounded-xl border-none
	}

	.trending-container{
		@apply flex flex-wrap justify-center gap-[10px] py-4;
	}

	/* Stories */
	.stories-container {
		@apply relative flex items-center overflow-x-auto whitespace-nowrap gap-3 p-3 md:p-8;
		scrollbar-width: none;  /* Firefox */
	}

	/* Optional: Hide scrollbar for Chrome, Safari and Opera */
	.stories-container::-webkit-scrollbar {
		display: none;
	}

	.user-story{
		@apply box-border p-0.5 rounded-full gradient-bg;
		flex: 0 0 auto;
	}

	.story-link{
		@apply relative;
	}

	.add-story{
		@apply absolute -bottom-[3px] -right-[5px] rounded-full bg-dark-1 border-2 border-dark-1;
	}

	/* Post Details */
	.post_details-container {
		@apply flex flex-col flex-1 gap-6 md:overflow-scroll p-0 md:p-6 custom-scrollbar items-center;
	}

	.post_details-card {
		@apply bg-dark-2 w-full max-w-5xl md:rounded-xl flex-col flex xl:flex-row border border-dark-5 xl:rounded-l-xl;
	}

	.post_details-img {
		@apply h-auto xl:w-[48%] md:rounded-t-xl xl:rounded-l-xl xl:rounded-tr-none object-cover bg-dark-1;
	}

	.post_details-info {
		@apply bg-dark-2 flex flex-col gap-5 lg:gap-7 flex-1 items-start p-4 md:p-8 rounded-[30px];
	}

	.post_details-delete_btn {
		@apply p-0 flex gap-3 hover:bg-transparent hover:text-light-1  text-light-1 small-medium lg:base-medium;
	}

	/* Profile */
	.profile-container {
		@apply flex flex-col items-center flex-1 gap-4 md:gap-10 md:overflow-scroll custom-scrollbar;
	}

	.profile-inner_container {
		@apply flex items-center py-10 px-5 md:p-14 md:mb-8 xl:items-start gap-8 flex-col xl:flex-row relative max-w-5xl w-full;
	}

	.profile-posts-block {
		@apply text-[14px] font-semibold uppercase gap-12 px-5 md:px-14;
		letter-spacing: 1px;
	}

	.profile-tab {
		@apply w-auto max-w-40 flex-center gap-3 py-4 transition flex-1 xl:flex-initial;
	}

	.profile-tab_active {
		@apply relative;
	}

	.profile-tab_active::before {
		@apply absolute top-0 left-0 w-full h-0.5 bg-primary-500;
		content: '';
	}

	/* Saved */
	.saved-container {
		@apply flex flex-col flex-1 items-center md:gap-10 md:overflow-scroll custom-scrollbar;
	}

	/* Bottom bar */
	.bottom-bar {
		@apply z-[9999999] flex-between w-[95%] mx-auto my-0 sticky bottom-2 px-5 py-3 md:hidden rounded-full bg-semitransaperent-1 backdrop-blur-md;
	}

	.bottom-bar a:nth-of-type(3){
		width: 32px;
		height: 32px;
	}

	/* File uploader */
	.file_uploader-img {
		@apply h-auto lg:h-[480px] rounded-[24px] object-cover object-top;
	}

	.file_uploader-label {
		@apply text-light-4 text-center small-regular w-full p-4 border-t border-t-dark-4;
	}

	.file_uploader-box {
		@apply flex-center flex-col p-7 h-80 lg:h-[420px];
	}

	/* Grid Post List */
	.grid-container {
		@apply w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-2 max-w-5xl md:rounded-xl;
	}

	.grid-post_link {
		@apply flex md:rounded-xl border border-dark-4 overflow-hidden cursor-pointer w-full h-full transition-all;
	}

	.post-stats {
		@apply w-[150px] h-12 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center transition-all z-20;
	}

	.post-stats-overlay {
		@apply absolute inset-0 bg-[#17171a] bg-opacity-40 rounded-xl z-10 transition-all;
	}

	.grid-post_user {
		@apply absolute bottom-0 p-5 flex-between w-auto rounded-b-xl gap-2 overflow-hidden z-20;
	}

	/* Left sidebar */
	.leftsidebar {
		@apply hidden md:flex flex-col justify-between min-w-[285px] bg-dark-2 border-r border-dark-5;
	}

	.leftsidebar-link {
		@apply rounded-lg transition-all;
	}

	.leftsidebar-link:hover .navlink {
		@apply bg-dark-3;
	}

	.leftsidebar_profile {
		@apply flex justify-between p-[10px] mt-[10px] mb-[10px] rounded-full hover:bg-dark-3
	}

	/* Post Card */
	.post-card_li {
		@apply flex justify-center w-full border-b border-dark-5;
	}

	.post-card {
		@apply bg-dark-2 pt-2 w-full max-w-screen-sm transition-all;
	}

	.post-card_img {
		@apply h-auto xs:max-h-[1080px] w-full object-cover;
	}

	/* Header */
	.header {
		@apply w-full sticky -top-[1px] z-50 md:hidden bg-semitransaperent-1 backdrop-blur-md;
	}

	/* User card */
	.user-card {
    @apply flex-center gap-4 border-b-2 border-dark-5 px-5 py-8 hover:border-primary-500 hover:scale-105 transition-all;
  }

	.for-you-user-card {
		@apply flex items-center gap-4 border-b border-dark-5 py-4 px-5 hover:bg-dark-5 transition-all;
	}

	/* Settings */
	.settings-container {
		@apply flex items-start w-full custom-scrollbar;
	}

	.common-container_settings {
		@apply w-full h-[85vh] md:h-full max-w-[600px] md:mr-10 border-l border-r border-dark-5 overflow-scroll custom-scrollbar;
	}

	.setting-tab {
		@apply flex justify-between py-3 px-6 border-r-2 border-transparent hover:bg-dark-3 transition-all;
	}

	.setting-tab_active {
		@apply bg-dark-3 border-r-2 border-primary-500;
	}

	.settings-active {
		@apply w-full;
	}

	/* SVG Icons */
	.svg-icon {
		filter: brightness(0) saturate(100%) invert(96%) sepia(5%) saturate(57%) hue-rotate(156deg)
			brightness(98%) contrast(90%);
	}

	.svg-icon-light {
		filter: brightness(0) saturate(100%) invert(47%) sepia(14%) saturate(783%) hue-rotate(270deg) brightness(99%) contrast(86%);
	}

	.svg-icon-black {
		filter: brightness(0) saturate(100%) invert(5%) sepia(5%) saturate(3430%) hue-rotate(169deg) brightness(99%) contrast(95%);
	}

	.svg-icon-lightgray {
		filter: brightness(0) saturate(100%) invert(40%) sepia(23%) saturate(375%) hue-rotate(164deg) brightness(88%) contrast(90%);
	}

	.svg-icon-primary-500 {
		filter: invert(50%) sepia(30%) saturate(679%) hue-rotate(282deg) brightness(135%) contrast(100%);
	}

	.svg-icon-liked {
		filter: brightness(0) saturate(100%) invert(45%) sepia(68%) saturate(3213%) hue-rotate(311deg)
			brightness(91%) contrast(103%);
	}

	/* Modals */
	.delete-modal {
		@apply bg-[#16171c] bg-opacity-50;
	}

	.delete-modal > div > div {
		@apply bg-dark-6 rounded-xl;
	}

	.delete-btn {
		@apply bg-rose-600 text-white hover:bg-rose-700;
	}

	.cancel-btn {
		@apply bg-transparent text-[#6B7280] border-2 border-[#6B7280] hover:text-white;
	}
}

	/* Error Boundary */
	.error-container {
		@apply flex items-center justify-center h-screen text-center w-screen font-roboto;
	}

	.error-container p {
		@apply text-2xl;
	}

	.back-home_btn {
		@apply relative text-white text-sm md:text-base rounded hover:text-[#f089cb] cursor-pointer;
	}

	/* Custom error toast */
	.custom-toast-error {
		@apply bg-red text-white border-red;
	}

@layer components {
	/* SHADCN COMPONENTS */
	/* Form */
	.shad-form_label {
		@apply text-white !important;
	}

	.shad-form_message {
		@apply text-red !important;
	}

	.shad-input {
		@apply h-12 bg-dark-3 border-none placeholder:text-light-4 transition-all ease-in-out;
	}

	.shad-textarea {
		@apply h-36 bg-dark-3 rounded-xl border-none placeholder:text-light-4 transition-all ease-in-out;
	}

	.shad-input:focus,.shad-textarea:focus {
		@apply outline-none;
	}

	.shad-input:focus-visible, .shad-textarea:focus-visible {
		@apply outline-none ring-1 ring-primary-500 ring-offset-1 ring-offset-primary-500 !important;
	}

	/* Button */
	.shad-button_primary {
		@apply bg-primary-600 text-white px-5 rounded-3xl flex gap-2 transition-all ease-in-out hover:bg-primary-700 !important;
	}

	.shad-button_dark_2 {
		@apply h-12 bg-dark-2 px-5 text-light-1 flex gap-2 !important;
	}

	.shad-button_dark_3 {
		@apply h-12 bg-transparent px-5 text-light-1 flex gap-2 transition-all ease-in-out !important;
	}

	.shad-button_dark_3:hover {
		text-shadow: 0 0 1px #FFF;
	}

	.shad-button_ghost {
		@apply flex gap-4 body-bold items-center justify-start hover:bg-transparent hover:text-light-4 !important;
	}

	/* Dropdown */
	.shad-button_dropdown {
		@apply flex gap-2 p-0 base-bold items-center justify-start hover:bg-transparent hover:text-light-4 !important;
	}

	.shad-dropdown {
		@apply w-56 bg-dark-3 border-dark-5 transition-all ease-in-out z-20;
		box-shadow: 0 0 10px var(--color-dark-4) !important;
	}

	/* Radio Input */
	.radio_input {
		display: none;
	}

	/* Create a custom radio button */
	.radio_input + label {
		position: relative;
		padding-left: 35px;
		cursor: pointer;
	}

	.radio_input + label:before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 25px;
		height: 25px;
		border: 2px solid var(--color-primary-500);
		border-radius: 50%;
	}

	/* Style the custom radio button when it's checked */
	.radio_input:checked + label:before {
		background-color: var(--color-primary-500);
	}
}
